body {
    background-color: rgb(8, 7, 1);
    padding: 1px;
    color: #ffffff;
    font-family: Lucida console, monospace;
}

form {
    color: #ffffff;
}

button {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #00ff59, #ffffff);
    background-image: -moz-linear-gradient(top, #00ff59, #ffffff);
    background-image: -ms-linear-gradient(top, #00ff59, #ffffff);
    background-image: -o-linear-gradient(top, #00ff59, #ffffff);
    background-image: linear-gradient(to bottom, #00ff59, #ffffff);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    font-family: cursive;
    border-radius: 20px;
}

input {
    background-color: rgb(234, 235, 222);
    font-size: 20px;
    padding: 11px;
    font-family: cursive;
    border-radius: 20px;
}

resp {
    background-color: rgb(255, 255, 255);
    color: rgb(203, 203, 203);
    padding: 10px;
    text-align: center;
    font-size: 14px;
}